<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meeting Room Reservation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeetingRoom.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/dist/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/dist/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row px-1">
                    <img src="~/image/final-logo-formulatrix.png" class="logo" alt="Logo">
                </div>
            </div>

            <ul class="list-unstyled components">
                <p>Meeting Room Reservation</p>
                <li>
                    <a href="/User/Index" title="Home">
                        <i class="fa-solid fa-house"></i><span class="menu-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/Booking/Index" title="Booking"> @*to be added. action of booking*@
                        <i class="fa-solid fa-calendar"></i><span class="menu-text">Booking</span>
                    </a>
                </li>
                <li>
                    <a href="/User/RoomList" title="RoomList">
                        <i class="fas fa-person-shelter"></i><span class="menu-text">Room List</span>
                    </a>
                </li>
                <li>
                    <a href="/User/Account" title="Account">
                        <i class="fas fa-user"></i><span class="menu-text">Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Logout">
                        <i class="fas fa-sign-out-alt"></i><span class="menu-text">Logout</span>
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF;">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info"
                        style="background-color: rgba(230, 230, 230, 0.659);">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item user-profile">
                                <div class="avatar">
                                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="rounded-circle"
                                        style="width: 40px;" alt="Avatar" />
                                </div>
                                <div class="user-details">
                                    <span class="username"> @Context.Session.GetString("UserName")</span>
                                    <span class="role">@Context.Session.GetString("Role")</span>
                                </div>
                                <script>
                                    var user = @ViewData["Username"];
                                    console.log("Username: " + user);
                                </script>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>


    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
