@model IEnumerable<OptionRoom>

@{
    ViewBag.Title = "Booking";
    if (Context.Session.GetString("Role") != null)
    {
        if (Context.Session.GetString("Role").Equals("Admin"))
        {
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
        }
    }
}
<style>
    .booking-first-column {
        width: 20%;
        text-align: left;
        vertical-align: middle;
    }

    .first-column {
        width: 35%;
        text-align: left;
        vertical-align: middle;
    }

    .mediator-column {
        width: 5%;
        vertical-align: middle;
    }

    .column {
        vertical-align: middle;
    }

    .second-column {
        vertical-align: middle;
    }

    .desc {
        vertical-align: top;
    }

    .full-width-hr {
        margin: 5px;
        border: none;
        border-top: 2px solid #878181;
        width: 100%;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Reservation</h1>
    <div class="container rounded bg-white mt-5"></div>
    <div class="mx-auto" style="max-width: 600px;">
        <form method="post" action="/Booking/AvailableRooms">
            <input type="hidden" name="userId" value="@ViewData["UserId"]" />
            <table class="table table-borderless">
                <tr>
                    <td class="booking-first-column">
                        Date
                    </td>
                    <td class="mediator-column">:</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <input type="text" class="form-control" name="startDate" id="datepicker"
                                        placeholder="mm/dd/yyyy" autocomplete="off" />
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" name="endDate" id="datepicker2"
                                        placeholder="mm/dd/yyyy" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="booking-first-column">
                        Time
                    </td>
                    <td class="mediator-column">:</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <input type="text" class="form-control" name="startTime" placeholder="HH:mm"
                                        id="timepicker" autocomplete="off" />
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" name="endTime" placeholder="HH:mm"
                                        id="timepicker2" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="booking-first-column">
                        Capacity
                    </td>
                    <td class="mediator-column">:</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <input type="number" class="form-control" name="capacity" min="1" id="capacity"
                                        placeholder="Room Capacity" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input type="submit" class="btn btn-primary" value="Find Room" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-hover" style="margin-top: 20px;">
            <colgroup>
                <col style="width: 25%;">
                <col style="width: 10%;">
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 15%;">
            </colgroup>
            <thead>
                <tr style="background-color: rgba(230, 230, 230, 0.659);">
                    <th scope="col">
                        Room Name
                    </th>
                    <th scope="col">
                        Capacity
                    </th>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Time
                    </th>
                    <th scope="col">
                        Action
                    </th>
                </tr>
            </thead>

            @if (Model != null)
            {
                foreach (var availRoom in Model)
                {
                    <tbody>
                        <tr>
                            <td scope="col" class="column">
                                @availRoom.RoomName
                            </td>
                            <td scope="col" class="column">
                                @availRoom.Capacity
                            </td>
                            <td scope="col" class="column">
                                @DateOnly.FromDateTime((DateTime)availRoom.StartDate)
                            </td>
                            <td scope="col" class="column">
                                @TimeOnly.FromDateTime((DateTime)availRoom.StartDate) -
                                @TimeOnly.FromDateTime((DateTime)availRoom.EndDate)
                            </td>
                            <td scope="col" class="column">
                                <button class="btn btn-primary"
                                    onclick="popupChooseRoom('@availRoom.RoomName', '@availRoom.Capacity', '@DateOnly.FromDateTime((DateTime)availRoom.StartDate)', '@DateOnly.FromDateTime((DateTime)availRoom.EndDate)', '@TimeOnly.FromDateTime((DateTime)availRoom.StartDate)', '@TimeOnly.FromDateTime((DateTime)availRoom.EndDate)')">
                                    Choose
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            }
    </div>

    @* Pop Up Window *@
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="justify-content: center;">
                    <h5 class="modal-title">Ini Title</h5>
                </div>
                <div class="modal-body">
                    <p>Ini body</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/booking-home.js"></script>
<script src="~/js/booking-room-popup.js"></script>